.home-container {
  
}

.headheadhead {
  color: white;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  font-size: 22px;
  margin: 25px 0 15px 0;
  text-align: left;
  position: relative;
  z-index: 2;
}